@charset "utf-8";
#main {
	font-family: 'Open Sans';
	background-color: #2A2624;
	border: 3px solid black;
	border-radius: 6px;
	height:auto;
	width:95vw;
	position:static;
	margin-left:4px;
	padding-top:8px;
	padding-bottom:4px;
	padding-left:5px;
	color:white;
	font-size:14px;
	}
.bodyt a:link,.bodyt a:visited{
	color:white;
}


#NavTop {
	font-family:'Open Sans';
	background-color: #0D856B;
	border: 3px solid black;
	border-radius: 5px;
	position: fixed;
	width: 95vw;
	vertical-align:top;
	height:100px;
	padding-top:10px;
	padding-bottom:6px;
	margin-left:4px;
	padding-left:5px;
	color:white;
}

.galleryimgMods {
	width:400px;
}
.galleryimgMods:active{
	width:800px;
}
body{
	/*background-color:#2A2624;
	background-color:#31263F;*/
	background-color:#5D4B72;
	background-color:#534E5B;
	background-color:#4D4559;
}